.container {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 2fr 12fr 2fr;
    width: 100%;
    height: 100vh;
    background-color: #343434;
    color: #fcfaf1;
}

.matchTitle {
    grid-column: 1/4;
    grid-row: 2/3;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 9vh;
}

.contender1 {
    grid-column: 1/2;
    grid-row: 3/4;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.contender2 {
    grid-column: 3/4;
    grid-row: 3/4;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.buttons {
    grid-column: 1/4;
    grid-row: 4/5;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    margin-top: 12vh;
}

.players {
    grid-column: 2/3;
    grid-row: 3/4;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    margin-top: 7vh;
}

.radioButtonsContainer {
    margin-bottom: 5vh;

    font-size: 3vh;
}

.image {
    border: 7px solid #e6b31e;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 58vh;
    max-width: 20vw;
}

.frame {
    border: 7px solid #e6b31e;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 34.56rem;
    height: 19.44rem;
}

.contenderName {
    font-size: 4vh;
}

.contenderNameBoosted {
    font-size: 4vh;
    color: #e6b31e;
    font-weight: bold;
}

.smallButton {
    background-color: #e6b31e;
    color: #343434;
    width: 9vw;
    height: 3vh;
    font-size: 1.5vh;
    margin: 3vh;
    margin-top: -9vh;
}

.bigButton {
    background-color: #e6b31e;
    color: #343434;
    width: 15vw;
    height: 6vh;
    font-size: 3vh;
    margin: 5%;
}

.singlePlayer {
    display: flex;
    justify-content: space-between;
    width: 15vw;
    margin: 20px;
}

progress {
    width: 15vw;
}

progress::-webkit-progress-value {
    background: #e6b31e;
}

progress::-webkit-progress-bar {
    background-color: maroon;
}

.smallButton:hover,
.bigButton:hover {
    background-color: #e6a31e;
}
