.titleContainer {
    height: 15vh;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
    justify-content: center;
    background-color: #343434;
}

.help {
    display: flex;
    grid-column: 2/3;
    color: #fcfaf1;
    font-size: 10vh;
    justify-content: center;
    align-items: center;
}

.button {
    grid-column: 3/4;
    background-color: #e6b31e;
    color: #343434;
    width: 8vw;
    height: 4vh;
    font-size: 2vh;
    margin-left: 4vw;
}

.button:hover {
    background-color: #e6a31e;
}
